* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
	background-color: #F0F0DF;
}

.content {
	margin: 150px 225px;
	width: 600px;
	color: #2B3A42;
}

h1 {
	border-bottom: 2px solid #FF8F00;
	color: #2B3A42;
	width: fit-content;
	font-size: 2em;
	margin-bottom: 30px;
}

h2 {
	border-bottom: 2px solid #2B3A42;
	width: fit-content;
	font-size: 1.7em;
	margin-bottom: 25px;
}

p {
	background-color: #BDD3DE;
	padding: .75em 1em;
	margin-bottom: 25px;
	border-radius: 15px;
}

a {
	color: #2B3A42;
}

a:visited {
	color: #3F5866;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2B3A42;
	position: fixed;
	top: 0;
	width: 100%;
}
  
nav li {
	float: left;
}
  
nav li a {
	display: block;
	color: #BDD3DE;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
nav li a:hover {
	background-color: #3F5866;
}

nav li a:visited {
	color: #BDD3DE;
}

section {
	display: flex;
}

aside {
	flex: 1;
	margin-top: 53px;
	color: #2B3A42;
}

article {
	flex: 3;
}